body, .boxed.white, .admin-detail, .admin-controls, .admin-controls .controls, .user-content,.group-details-container,
div.edit-category .edit-category-title-bar, .user-main .about, .user-main .about .details .primary,
.user-main .about .details, .user-stream .item, .user-stream .user-stream-item, .search-container .search-header,
.search-container .search-filters .search-advanced-filters, .search-container .search-bar,
.search-container .search-filters {
    background-color:#000!important;
}
#banner, .alert.alert-info {
    background-color:#18003f!important;
    color:white;
}
.d-header.clearfix {
    background-color:#040404!important;
}
aside.onebox, .menu-panel .panel-body-bottom .btn {
    background-color:#080808;
}
.topic-list-item, tr, .menu-panel .panel-body-bottom .btn { 
  border-bottom:#080808;  
}
.user-card .card-content, .group-card .card-content {
    background:rgba(0, 0, 0,  93%);
}
.user-card .first-row .names .name-username-wrapper, .group-card .first-row .names .name-username-wrapper,
.user-card h2, .group-card h2 {
    color:white;
}
.user-badge, .user-card .badge-section .more-user-badges a,
.user-card .badge-section .user-card-badge-link, .user-card .badge-section .more-user-badges,
.user-card .badge-section .user-badge, .user-card .badge-section .more-user-badges a {
    color:white;
    background-color:#0c0c0c;
    border-radius:25px;
    border:0;
}
h1, h2, h3, h4, h5, h6 {
    color:white;
}
p, #topic-title h1 a, li, .btn, .user-card .card-content .bio, .group-card .card-content .bio,
.category-list .category-name {
    color:white;
}

.topic-map, .nav-stacked, .admin-controls nav {
    background:#090909;
}
.topic-map .buttons .btn {
    background:#000;
}
.discourse-reactions-state-panel-reaction, .discourse-reactions-picker .discourse-reactions-picker-container,
.popup-menu, .select-kit.single-select.dropdown-select-box.is-expanded .select-kit-collection, 
.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body,
.modal-inner-container {
    background:#090909;
}
.menu-panel .panel-body, .user-menu .quick-access-panel li a,
.user-menu .quick-access-panel .read, .user-menu .quick-access-panel .reviewed {
    background:#070707;
}
#reply-control .reply-area, #reply-control #reply-title, #reply-control .mini-tag-chooser .select-kit-header,
#reply-control .category-input .category-chooser .select-kit-header,.d-editor-textarea-wrapper,
aside.quote .title, blockquote, .d-editor-textarea-wrapper textarea {
    background-color:#070707;
    color:white;
}
div.instructions, .nav-pills>li>a  {
    color:white;
}
blockquote, aside.quote .title {
    border-left:#090909;
}
.menu-panel {
    background-color:#060606;
}
.topic-chat-container, .chat-live-pane .chat-messages-scroll,
.chat-messages-container .chat-message-container, .chat-messages-container .discourse-chat-transcript,
.topic-chat-drawer-header, .chat-message .chat-message-content, .chat-message {
    background:#0a0a0a;
}
.btn, .list-controls .combo-box .combo-box-header {
    background:#0c0c0c;
}
.btn {
  &:active,
  &.btn-active {
    background-image: none;
    border-bottom-color: transparent;
    background-color: var(--primary-medium);
  }
    

  &.btn-primary {
    &:active,
    &.btn-active {
      background-color: var(--tertiary-hover);
    }
  }


  &.btn-danger,
  &.cancel {
    &:active,
    &.btn-active {
      background-color: var(--danger-hover);
    }
  }
 

  &.ok {
    &:active,
    &.btn-active {
      background-color: var(--success-hover);
    }
  }
}

.sidebar-wrapper {
    background:black;
}

.sidebar-section-link-wrapper .sidebar-section-link.active,
.btn, .list-controls .combo-box .combo-box-header {
    background-color:black;
}

.discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper:hover {
    background:black
}
